.photos-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  padding: 20px;
  gap: 20px;

  app-photo {
    width: 300px;
    height: 200px;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  mat-spinner {
    margin: 0 auto;
  }
}
